@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Alan Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
#root {
    display: flex;
    flex-direction: column;
}
.container {
    height: 60px;
    background-color: #456882;
}
.content {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: calc(100vh - 60px - 70px);
}
.content > .main {
    margin-top: 10px;
}
.active {
    font-weight: 400;
}
